

p {
    margin: 0;
}

.contInfoUser {
    background-color: rgb(74,130,198);
    color: #FFF;
    text-align: left;
    padding: .5em 0;
}

.vistaAllSuper {
    padding: 0;
}


.contInfoUser p {
    margin: 0;
}



.userName {
    font-weight: bold;
}

.verticalOptions {
    font-size: 1.5em;
    vertical-align: -webkit-baseline-middle

}


.contDate {
    background-color: #FFF;
    padding: 1em 0;
}

.dateInfo {
    background-color: #EEEEEE;
    color: rgb(94,104,113);
}

.contVigentes {
    background-color: #D5D7D9;
    border-bottom: 3px solid rgb(94,104,113);
    padding: .5em;
}

/* Filtros */

Button {
    width: 100%;
}
.filterTitle {
    color: rgb(94,104,113);
    font-weight: bold;
    text-align: left;
}

.appointmentState {
    text-align: left;
    padding-left: 3em;
    height: 2em;
}

.btn[disabled]:hover {
    cursor: default;
}

input.form-control:focus {
    border:none
}

.filterBtn {
    border: 2px solid rgb(74,130,198);
    color: rgb(74,130,198);
    margin-bottom: 1em;
}

