
.loginView {
  background-color: #FFF;
  margin: 10em 2.5em;
  padding: 1em;
  border-radius: .6em;
}

.patyImg {
    width: 50vw;
    margin: auto;
}

.logo {
    margin: auto;
}
.form {
    margin-bottom: 1em;
}

.bkgr {
    height: 100vh;
    background-color: #CFD0CF;
}

.content {
    margin-top: -10em !important;
}

.btnLogIn {
    background-color: #479ED7;
    color: #FFF;
    font-weight: bold;
}

.helper {
    color: #479ED7;
}

.plsLog {
    color: #4a82c6;
}
