.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container, div, .col, .row{
  padding-right: 0;
  padding-left: 0;
}
.row {
  margin: 0;
}

.docPatient {
  margin-top: 1em;

  padding: 0;
}
.docDates {
  margin-top: 0.6em;
}