.Probability {
  color: #e26d6a;
  font-weight: bold;
}

.allDataCont {
  border-bottom: 1px solid #999999;
  padding-bottom: 1em;
  text-align: left;
}

.boldParagraphs {
  font-weight: bold;
}

.ReservedDay{
  color: #999999;
  margin-top: 1em;
}

.PatientState{
  margin-top: 1.3em;
}

.dads {
display: inline;
margin: 0.5em;
text-align: right;
}

.PacientType2{
  color: #4a82c6;
  font-weight: bold;
  font-size: 12.5px;
  text-align: left;
}

.PacientName{
  color: #5e6871;
  font-weight: bold;
  text-align: left;
  margin-left: 1.5em;
}

.Prices{
  color: #999999;
}