.hour {
  font-weight: bolder;
  color: rgb(153,153,153,1);
  text-align: left;
  margin-left: 1em;
}

.probability {
  color: rgb(226,109,106,1);
  font-weight: bold;
}

.allDataCont {
  text-align: left;
  padding: .5em 1em;
}

.dateOfReserve {
  color: rgb(153,153,153,1);
}

.boldParagraphs {
  font-weight: bold;
}